# --- Entornos Virtuales (Vital no subirlos) ---
venv/
/venv/
env/
.venv/
Lib/
site-packages/
bin/
Scripts/

# --- Python: Archivos compilados y cache ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Seguridad (¡MUY IMPORTANTE!) ---
# Evita subir claves secretas o configuración local
.env
.env.local
config.ini

# --- Logs y Bases de Datos Locales ---
*.log
*.sqlite3
*.db

# --- Archivos de Sistema y Librerías pesadas ---
*.dll
*.so
*.dylib
*.exe

# --- Configuración de Editores (IDE) ---
.vscode/
.idea/
.project
*.swp

# --- Generación de Ejecutables (PyInstaller) ---
# Cuando conviertas tu cajero a .exe, se crean estas carpetas
build/
dist/
*.spec